body {
  margin: 0;
  color: #40514E;
  font-family: 'Merriweather', serif;
  text-align: center;
}

hr {
  border: dotted #EAF6F6 0.375rem;
  border-bottom: none;
  width: 4%;
  width: 5%;
  margin: 6.25rem auto;
}

h1 {
  font-size: 5.625rem;
  margin: 3.125rem auto 0;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 0.625rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 0.625rem 1.25rem;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

p {
  line-height: 2;
}

.intro {
  width: 25%;
  margin: auto;
}

.skill-row {
  display: inline-block;
  width: 50%;
  margin: 5rem auto 0;
  text-align: left;
}

.webdev {
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.java {
  width: 25%;
  float: right;
  margin-left: 1.875rem;
}

.sap {
  width: 25%;
  float: left;
  margin-right: 1.875rem;
}

.top-container {
  background-color: #E4F9F5;
  padding: 20px;
  padding-top: 100px;
  position: relative;
  text-align: center;
}

.middle-container {
  margin: 6.25rem 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 3.125rem 0 1.25rem;
}

.top-cloud {
  position: absolute;
  top: 3.125rem;
  right: 18.75rem;
}

.bottom-cloud {
  position: absolute;
  bottom: 18.75rem;
  left: 18.75rem;
}

.bottom-para {
  margin-bottom: 3.125rem;
}

.contact-me {
  margin: 2.5rem auto 3.75rem;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 1.25rem 0;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
